<!DOCTYPE html>
<html>
<head>
    <title>Posts</title>
</head>
<body>
<h1>Posts</h1>
<ul>
    {% for post in posts %}
        <li>{{ post.id }}</li>
        <p>{{ post.title }}</p>
        <p>{{ post.content }}</p>
    {% endfor %}
</ul>
<h1>Please enter a New Post</h1>
<form action="/posts" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br><br>
    <label for="description">Description:</label><br>
    <textarea id="description" name="description" rows="4" cols="50" required></textarea><br><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>
